/* base styles*/
*,*:before, *:after {
    box-sizing: border-box;
    outline: none;
}
*,body,html {-webkit-text-size-adjust: none;
    -webkit-appearance: none;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    width: 100%;
    min-width: 320px;
    font-family:Avenir-Medium,sans-serif;
    background:white;
    color:#3d3d3d;
    position: relative;
    font-size: 16px;
    line-height: 1;
}
img {
    vertical-align: bottom;
    border: 0;
    max-width: 100%;
    height: auto;
}

/* helping adds*/
.clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden;
}
.cfix:after {
    content: '';
    display: block;
    height: 0;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clear: both;
}

/* /helping adds*/

/* wraps styling*/

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}
/* /wraps styling*/

.footer_placeholder {
    height: 200px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

input, textarea{
    &::-webkit-input-placeholder {
        color:#212121;
    }
    &:-moz-placeholder {
        color:#212121;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:#212121;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:#212121;
    }
}

/*fonts*/

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example->    @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
@include font-face('PierSans-Regular', 'PierSans-Regular', 400);
@include font-face('Avenir-Book', 'Avenir-Book', 400);
@include font-face('Avenir-Medium', 'Avenir-Medium', 500);
@include font-face('PierSans-Bold', 'PierSans-Bold', 700);
@include font-face('PierSans-Black', 'PierSans-Black', 900);
@include font-face('Avenir-Black', 'Avenir-Black', 900);
// @include font-face('PierSans-Bold-Italic', 'PierSans-Bold-Italic', 700);
/*/fonts*/
 
/* /base styles */


/* styles for wp-admin panel */
body{
    &.customize-support {
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }
}
@media screen and (max-width: 782px){

    body{
        &.customize-support {
            .wp-panel-show {
                top: 46px;
            }
        }
    }

    #wpadminbar {
        position: fixed!important;
    }

}
 /* /styles for wp-admin panel */

/*End Layout*/

