//colors
$blue: #0376C4;
$white: #ffffff;
$black: #000000;
$dark-gray: #858585;
$very-dark-gray: #1f1f1f;
//end colors

//fonts
$piersans-regular: 'PierSans-Regular';
$piersans-bold: 'PierSans-Bold';
$piersans-black: 'PierSans-Black';

$avenir-book: 'Avenir-Book';
$avenir-medium: 'Avenir-Medium';
$avenir-black: 'Avenir-Black';
//end fonts
