<section class="contact-us">
    <div class="contact-us__container container">
        <div class="contact-us__wrapp">
            <div class="contact-us__title title">
                <h2>kontaktiere uns</h2>
            </div>
            <p>
                Equitron-pro wirkt auf zellulärer Ebene und hat einen direkten und positiven Einfluss auf die Genexpression des Körpers. zum Beispiel geschlossen wird und der Bruch wieder heilt.
            </p>
        </div>
        <div class="contact-us__request request">
            <div class="request__title title">
                <h3>Erfahren Sie mehr</h3>
            </div>
            <form class="request__form form" action="#">
                <div class="input-name form__input">
                    <p>name</p>
                    <input type="text" name="text">
                </div>
                <div class="input-email form__input">
                    <p>email</p>
                    <input type="email" name="email">
                </div>
                <div class="input-select form__input">
                    <select name="select" onclick="document.querySelector('.input-select').classList.toggle('active')">
                        <option value="Ich interessiere mich als">Ich interessiere mich als</option>
                        <option value="Ich interessiere mich als 2">Ich interessiere mich als 2</option>
                        <option value="Ich interessiere mich als 3">Ich interessiere mich als 3</option>
                    </select>
                </div>
                <div class="input-text form__input">
                    <p>ich interesse mich für</p>
                    <input type="text" name="text">
                </div>
                <button class="form__button" type="submit">kontakt</button>
            </form>
            <div class="request__privacy-policy">
                <p>
                    Weitere Informationen zur Verwendung Ihrer Daten finden Sie in unseren Datenschutzbestimmungen.
                </p>
            </div>
        </div>
    </div>
</section>