<section class="high-energy">
    <div class="high-energy__container container">
        <div class="high-energy__cell-treatment cell-treatment">
            <div class="cell-treatment__marking">
                <strong>01</strong><span>/03</span>
            </div>
            <div class="cell-treatment__title title">
                <h1>high energy cell treatment</h1>
            </div>
            <p>
                anhand einer umfassenden studie gemeinsam mit prof. dr. andreas traweger vom institut fur sehnen- und knochenregeneration an der paracelsus medizinischen privatuniversität in salzburg konnten.
            </p>
            <div class="cell-treatment__advantages">
                <ul>
                    <li>
                        <strong>500</strong>
                        <p>
                            zufriedener<br>
                            kunde
                        </p>
                    </li>
                    <li>
                        <strong>2</strong>
                        <p>
                            jahre<br>
                            garantie
                        </p>
                    </li>
                    <li>
                        <strong>800<span>+</span></strong>
                        <p>
                            positives<br>
                            feedback
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="request">
            <div class="request__title title">
                <h3>Erfahren Sie mehr</h3>
            </div>
            <form class="request__form form" action="#">
                <div class="input-name form__input">
                    <p>name</p>
                    <input type="text" name="text">
                </div>
                <div class="input-email form__input">
                    <p>email</p>
                    <input type="email" name="email">
                </div>
                <div class="input-select form__input">
                    <select name="select" onclick="document.querySelector('.input-select').classList.toggle('active')">
                        <option value="Ich interessiere mich als">Ich interessiere mich als</option>
                        <option value="Ich interessiere mich als 2">Ich interessiere mich als 2</option>
                        <option value="Ich interessiere mich als 3">Ich interessiere mich als 3</option>
                    </select>
                </div>
                <div class="input-text form__input">
                    <p>ich interesse mich für</p>
                    <input type="text" name="text">
                </div>
                <button class="form__button" type="submit">kontakt</button>
            </form>
            <div class="request__privacy-policy">
                <p>
                    Weitere Informationen zur Verwendung Ihrer Daten finden Sie in unseren Datenschutzbestimmungen.
                </p>
            </div>
        </div>
    </div>
</section>