<section class="manufacturer container">
    <div class="manufacturer__title title">
        <h2>technologie</h2>
    </div>
    <ul>
        <li><img src="images/e.png" width="128" height="93" alt="CЄ"></li>
        <li><img src="images/certified.png" width="128" height="60" alt="quality austria 'System Certified"></li>
        <li><img src="images/germ.png" width="128" height="83" alt="mad in germany"></li>
        <li><img src="images/certified.png" width="128" height="60" alt="quality austria 'System Certified"></li>
        <li><img src="images/austria.png" width="128" height="72" alt="austria 'TUV"></li>
    </ul>
</section>