<section class="products">
    <div class="container">
        <div class="subject">
            <div class="subject__title title">
                <h2>produkte</h2>
            </div>
        </div>
        <div class="product-wrapper">
            <div class="product">
                <div class="product__img-wrapp">
                    <img src="images/box-2.png" width="576" height="515" alt="box">
                    <div class="product__grid"></div>
                </div>
                <div class="product__features">
                    <div class="product__title title">
                        <h3>equitron-pro</h3>
                    </div>
                    <ul class="product__description-list">
                        <li>einfache bedienung</li>
                        <li>dopingfrei</li>
                        <li>schmerzfreie anwendung</li>
                        <li>pferde entspannen wahrend der therapie</li>
                        <li>keine sedlierung notwending</li>
                        <li>wirkt auch durch decken & bandagen</li>
                        <li>hohe eindringtiefe in den korper (>20cm)</li>
                        <li>nebenwirkungsfrei</li>
                    </ul>
                    <a href="#" class="product__button button">hier bestellen</a>
                </div>
            </div>
            <div class="product product-mob">
                <div class="product__features product-mob__features">
                    <div class="product__title title">
                        <h3>equitron-pro mobile</h3>
                    </div>
                    <ul class="product__description-list">
                        <li>gleiche stärke wie sein grosser bruder</li>
                        <li>leichtes aluminium innengehäuse</li>
                        <li>fokus auf mobilität</li>
                        <li>nur ca. 16 kg inklusive koffer</li>
                        <li>user freundliches bedienpanel</li>
                        <li>mit externen akku erweiterbar</li>
                    </ul>
                    <a href="#" class=" product__button button">hier bestellen</a>
                </div>
                <div class="line"></div>
                <div class="product__img-wrapp product-mob__img-wrapp">
                    <img src="images/box-3.png" alt="box">
                </div>
            </div>
        </div>

    </div>
</section>