<section class="recommend">
    <div class="recommend-wrapp container">
        <div class="nav-wrapp">
            <div class="recommend-wrapp__title title">
                <h2>erfahrene tierärzte empfehlen</h2>
            </div>
            <div class="button-wrapp">
                <div class="arrow-left"><span></span></div>
                <div class="arrow-right"><span></span></div>
            </div>
        </div>
        <div class="slider-wrapp">
            <blockquote class="advice">
                <p class="advice__text">
                    “Equitron-pro wirkt auf zellulärer ebene und hat einen direkten und positiven einfluss auf die genexpression des Körpers. zum Beispiel geschlossen wird und der Bruch wieder heilt”.
                </p>
                <div class="advice__img-wrapp">
                    <img src="images/photo.png" width="64" height="65" alt="photo">
                </div>
                <p class="advice__full-name">
                    tierarzt christian schacht 
                </p>
                <p class="advice__specialization">
                    fachtierarzt für pferde
                </p>
            </blockquote>
            <blockquote class="advice">
                <p class="advice__text">
                    “Equitron-pro wirkt auf zellulärer ebene und hat einen direkten und positiven einfluss auf die genexpression des Körpers. zum Beispiel geschlossen wird und der Bruch wieder heilt”.
                </p>
                <div class="advice__img-wrapp">
                    <img src="images/photo.png" width="64" height="65" alt="photo">
                </div>
                <p class="advice__full-name">
                    tierarzt christian schacht 
                </p>
                <p class="advice__specialization">
                    fachtierarzt für pferde
                </p>
            </blockquote>
        </div>
    </div>
</section>