<section class="technol">
    <div class="technol__wrapp">
        <div class="technol-description">
            <div class="technol-description__title title">
                <h2>Technologie</h2>
            </div>
            <p>
                Equitron-pro wirkt auf zellulärer Ebene und hat einen direkten und positiven Einfluss auf die Genexpression des Körpers. zum Beispiel  geschlossen wird und der Bruch wieder heilt.
            </p>
        </div>
        <div class="technol-description__text">
            <p>
                Equitron-pro wirkt auf zellulärer Ebene und hat einen direkten und positiven Einfluss auf die Genexpression des Körpers. zum Beispiel entsteht pression dafür , dass die Wunde möglichst schnell geschlossen wird und der Bruch wieder heilt.
            </p>
            <p>
                Equitron-pro wirkt auf zellulärer Ebene und hat einen direkten und positiven Einfluss auf die Genexpression des Körpers. zum Beispiel entsteht pression dafür.
            </p>
        </div>
    </div>
    <div class="technol__img-wrapp">
        <img src="images/horse.jpg" width="1920" height="1329" alt="horse">
        <div class="grid">
            <div class="ellipse e1">
                <span class="ellipse__plus">+</span>
                <a href="#t1" class="ellipse__number">1</a>
            </div>
            <div class="text-show t1">
                <p>
                    Durch die Aktivierung 
                    der Gene werden
                </p> 
            </div>
            <div class="ellipse e2">
                <span class="ellipse__plus">+</span>
                <a href="#t2" class="ellipse__number">2</a>
            </div>
            <div class="text-show t2">
                Durch die Aktivierung 
                der Gene werden 2
            </div>
            <div class="ellipse e3">
                <span class="ellipse__plus">+</span>
                <a href="#t3" class="ellipse__number">3</a>
            </div>
            <div class="text-show t3">
                Durch die Aktivierung 
                der Gene werden 3
            </div>
            <div class="ellipse e4">
                <span class="ellipse__plus">+</span>
                <a href="#t4" class="ellipse__number">4</a>
            </div> 
            <div class="text-show t4">
                Durch die Aktivierung 
                der Gene werden 4
            </div>
            <div class="ellipse e5">
                <span class="ellipse__plus">+</span>
                <a href="#t5" class="ellipse__number">5</a>
            </div> 
            <div class="text-show t5">
                Durch die Aktivierung 
                der Gene werden 5
            </div>
            <div class="ellipse e6">
                <span class="ellipse__plus">+</span>
                <a href="#t6" class="ellipse__number">6</a>
            </div> 
            <div class="ellipse e7">
                <span class="ellipse__plus">+</span>
                <a href="#t7" class="ellipse__number">7</a>
            </div> 
            <div class="ellipse e8">
                <span class="ellipse__plus">+</span>
                <a href="#t8" class="ellipse__number">8</a>
            </div> 
            <div class="ellipse e9">
                <span class="ellipse__plus">+</span>
                <a href="#t9" class="ellipse__number">9</a>
            </div> 
        </div>         
    </div>
    <ol class="technol__list">
        <li id="t1">Durch die Aktivierung der Gene werden</li>
        <li id="t2">Durch die Aktivierung der Gene test 2</li>
        <li id="t3">Durch die Aktivierung der Gene test 3</li>
        <li id="t4">Durch die Aktivierung der Gene test 4</li>
        <li id="t5">Durch die Aktivierung der Gene test 5</li>
        <li id="t6">Durch die Aktivierung der Gene test 6</li>
        <li id="t7">Durch die Aktivierung der Gene test 7</li>
        <li id="t8">Durch die Aktivierung der Gene test 8</li>
        <li id="t9">Durch die Aktivierung der Gene test 9</li>
    </ol>
</section>