<section class="technology container">
    <div class="process-wrapp">
        <div class="technological-process">
            <div class="technological-process__title title">
                <h2>technologie</h2>
            </div>
            <div class="technological-process__description">
                <p>
                    Equitron-pro wirkt auf zellulärer Ebene und hat einen direkten und positiven Einfluss auf die Genexpression des Körpers. zum Beispiel geschlossen wird und der Bruch wieder heilt.
                </p>
                <p>
                    Equitron-pro wirkt auf zellulärer Ebene und hat einen direkten und positiven Einfluss auf die Genexpression des Körpers. zum Beispiel entsteht pression dafür , dass die Wunde möglichst schnell geschlossen wird und der Bruch wieder heilt.
                </p>
            </div>
        </div>
        <div class="technological-process__img-wrapp">
            <img src="images/technology.png" width="533" height="534" alt="technology">
        </div>
    </div>
    <div class="technology-list">
        <div class="technology-list__item">
            <p>
                Es werden Signale von den betroffenen Stellen ausgesendet, im Gehirn verarbeitet und anschließend in den Zellen die entsprechenden Gene aktiviert.
            </p>
        </div>
        <div class="technology-list__item">
            <p>
                Durch die Aktivierung der Gene werden Proteine hergestellt, die dann die Verletzung heilen.
            </p>
        </div>
        <div class="technology-list__item">
            <p>
                Nach nur einer Behandlung mit equitron-pro wird die Produktion dieser Proteine enorm gesteigert-und somit der Heilungsprozess beschleunigt.
            </p>
        </div>
    </div>
</section>